# Logistic Regression

Logistic regression is a statistical method that is used in machine learning for predicting binary outcomes, that is, it can take only two values. For example, "yes" vs. "no", or "true" vs. "false". Or a probability of being a 0 or a 1.

In [3]:
# Dependencies

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [8]:
# Load dataset

file_path = os.path.join("Resources/lending_data.csv")
df = pd.read_csv(file_path)
df.head(26)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
5,10100.0,7.438,50600,0.407115,4,1,20600,0
6,10300.0,7.490,51100,0.412916,4,1,21100,0
7,8800.0,6.857,45100,0.334812,3,0,15100,0
8,9300.0,7.096,47400,0.367089,3,0,17400,0
9,9700.0,7.248,48800,0.385246,4,0,18800,0
10,9300.0,7.085,47300,0.365751,3,0,17300,0
11,9200.0,7.015,46600,0.356223,3,0,16600,0
12,9200.0,7.043,46900,0.360341,3,0,16900,0
13,9400.0,7.101,47400,0.367089,3,0,17400,0
14,8400.0,6.703,43700,0.313501,3,0,13700,0
15,9400.0,7.136,47700,0.371069,3,0,17700,0
16,8900.0,6.897,45500,0.340659,3,0,15500,0
17,8300.0,6.648,43200,0.305556,2,0,13200,0
18,8000.0,6.539,42100,0.287411,2,0,12100,0
19,10200.0,7.460,50800,0.409449,4,1,20800,0
20,5200.0,5.326,30700,0.022801,0,0,700,0
21,9300.0,7.068,47100,0.363057,3,0,17100,0
22,7300.0,6.225,39200,0.234694,2,0,9200,0
23,9000.0,6.943,45900,0.346405,3,0,15900,0
24,8700.0,6.813,44700,0.328859,3,0,14700,0
25,8800.0,6.850,45100,0.334812,3,0,15100,0

In [9]:
print(df)

       loan_size  interest_rate  borrower_income  debt_to_income  \
0        10700.0          7.672            52800        0.431818
1         8400.0          6.692            43600        0.311927
2         9000.0          6.963            46100        0.349241
3        10700.0          7.664            52700        0.430740
4        10800.0          7.698            53000        0.433962
...          ...            ...              ...             ...
77531    19100.0         11.261            86600        0.653580
77532    17700.0         10.662            80900        0.629172
77533    17600.0         10.595            80300        0.626401
77534    16300.0         10.068            75300        0.601594
77535    15600.0          9.742            72300        0.585062

       num_of_accounts  derogatory_marks  total_debt  loan_status
0                    5                 1       22800            0
1                    3                 0       13600            0
2                    3                 0       16100            0
3                    5                 1       22700            0
4                    5                 1       23000            0
...                ...               ...         ...          ...
77531               12                 2       56600            1
77532               11                 2       50900            1
77533               11                 2       50300            1
77534               10                 2       45300            1
77535                9                 2       42300            1

[77536 rows x 8 columns]

In [10]:
# Define the X (features) and y (target) sets

y = df["loan_status"].values
X = df.drop("loan_status", axis=1)

### Split our data into two sets; training and testing data

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Create a logistic regression model

In [12]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

### Fit (train) our model by using the training data

In [13]:
classifier.fit(X_train, y_train)

LogisticRegression()

### Validate the model by using the test data

In [14]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9921240885954051
Testing Data Score: 0.9918489475856377

In [ ]:
from sklearn.metrics import